{# templates/profile/profile.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.pseudo }}{% endblock %}

{% block body %}
  <div class="container mt-5">
    <h1 class="display-4">Profil de {{ user.pseudo }}</h1>

    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">Informations personnelles</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Prénom :</strong> {{ user.prenom }}</li>
          <li class="list-group-item"><strong>Nom :</strong> {{ user.nom }}</li>
          <li class="list-group-item"><strong>Téléphone :</strong> {{ user.telephone }}</li>
          <li class="list-group-item"><strong>Email :</strong> {{ user.email }}</li>
          <li class="list-group-item"><strong>Ville d'attachement :</strong> {{ user.site.nom }}</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
