{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="h1">Filtrer les sorties</h1>
            <a href="{{ path('sortie_new') }}" class="btn btn-primary d-none d-md-inline" aria-hidden="true">Créer une
                sortie</a>
        </div>

        <div class="position-fixed end-0 text-end">
            <h2 class="h5">Date du jour : {{ "now"|date("d/m/Y") }}</h2>
            <h2 class="h5">Participant : {{ app.user.prenom|capitalize }} {{ app.user.nom|slice(0, 1)|upper }}.</h2>
        </div>

        <form class="form-group mb-4" method="get" action="{{ path('sortie_list') }}">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="siteSelect" class="form-label">Site :</label>
                    <select id="siteSelect" name="site" class="form-select">
                        <option value="">-- Choisissez un site --</option>
                        {% for site in sites %}
                            <option value="{{ site.id }}" {% if site.id == selected_site %}selected{% endif %}>
                                {{ site.nom }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="nom" class="form-label">Le nom de la sortie contient :</label>
                    <input id="nom" type="text" name="nom" value="{{ nom }}" placeholder="Renseignez une sortie"
                           class="form-control">
                </div>

                <div class="col-md-6 mb-3">
                    <label for="date_debut" class="form-label">Entre :</label>
                    <input id="date_debut" type="date" name="date_debut" value="{{ date_debut }}" class="form-control">
                </div>

                <div class="col-md-6 mb-3">
                    <label for="date_fin" class="form-label">et :</label>
                    <input id="date_fin" type="date" name="date_fin" value="{{ date_fin }}" class="form-control">
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="organisateur_checked"
                               value="true" {% if organisateur_checked %} checked {% endif %} id="isOrganisateur">
                        <label class="form-check-label" for="isOrganisateur">
                            Sortie dont je suis l'organisateur/trice
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="is_inscrit_checked"
                               value="true" {% if is_inscrit_checked %} checked {% endif %} id="isInscrit">
                        <label class="form-check-label" for="isInscrit">
                            Sorties auxquelles je suis inscrit/e
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="is_not_inscrit_checked"
                               value="true" {% if is_not_inscrit_checked %} checked {% endif %} id="isNotInscrit">
                        <label class="form-check-label" for="isNotInscrit">
                            Sorties auxquelles je ne suis pas inscrit/e
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="sortie_passee"
                               value="true" {% if sortie_passee %} checked {% endif %} id="end_date">
                        <label class="form-check-label" for="end_date">
                            Sorties passées
                        </label>
                    </div>
                </div>
            </div>
            <button class="btn btn-info mt-3">Rechercher</button>
        </form>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
                        <td>{{ sortie.dateLimiteInscription | date('d/m/Y H:i') }}</td>
                        <td>{{ sortie.inscriptions|length }} / {{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>
                            {% for inscription in sortie.inscriptions %}
                                {% if inscription.participant.id == app.user.id %}
                                    <p type="button" class="btn btn-info">
                                        <i class="bi bi-check-circle"></i>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% if sortie.organisateur.pseudo %}
                                <a href="{{ path('app_profile', {'id': sortie.organisateur.id}) }}"
                                   class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ sortie.organisateur.pseudo }}</a>
                            {% else %}
                                <a href="{{ path('app_profile', {'id': sortie.organisateur.id}) }}">
                                    {{ sortie.organisateur.prenom|capitalize }} {{ sortie.organisateur.nom|slice(0, 1)|upper }}
                                    .
                                </a>
                            {% endif %}
                        </td>
                        <td>

                            {#
                            Début des actions selon état de la sortie et si l'utilisateur est participant/non participant/créateur de la sortie

                            Si l'utilisateur est organisateur, alors possibilité modifier la sortie
                            #}

                            {% if sortie.etat.libelle == 'Brouillon' and (app.user and (app.user.id == sortie.organisateur.id) ) %}
                                <a class="btn btn-warning" href="{{ path('sortie_update', {'id': sortie.id}) }}">Modifier</a>
                            {% else %}
                                {# Si l'utilisateur n'est organisateur, alors possibilité afficher la sortie
                                #}
                                <a class="btn btn-info"
                                   href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>
                            {% endif %}

                            {# Selon le statut de la sortie #}

                            {# Si l'utilisateur est organisateur alors #}

                            {% if app.user and (app.user.id == sortie.organisateur.id ) %}
                                {# "Créée" est l'équivalent de "publiée"

                                Si le libellé de la sortie est "créée" #}

                                {% if sortie.etat.libelle == 'Publiée' %}
                                    <a href="{{ path('sortie_cancel', { 'id': sortie.id }) }}"
                                       class="btn btn-danger">Annuler</a>
                                    {# "En création" est l'équivalent de "brouillon" #}
                                {% elseif sortie.etat.libelle == 'Brouillon' %}
                                    <a class="btn btn-info"
                                       {# Si la sortie est en état "en création", alors l'organisateur peut publier la sortie #}
                                       href="{{ path('sortie_changer_etat', {'id': sortie.id, 'etat': 'Publiée'}) }}">Publier</a>
                                {% endif %}

                            {% else %}
                                {# Création d'une boucle et d'une variable locale.
                                On définit la variable isInscribed à false.
                                On parcourt la table incription dans la bdd.
                                Si jamais on trouve l'id d'un participant qui matche l'id de l'utilisateur connecté,
                                Alors on hydrate la variable isSubscribed avec la valeur "true"#}
                                {% if sortie.etat.libelle == 'Publiée' %}
                                    {% set isInscribed = false %}
                                    {% for inscription in sortie.inscriptions %}
                                        {% if inscription.participant.id == app.user.id %}
                                            {% set isInscribed = true %}
                                        {% endif %}
                                    {% endfor %}

                                    {# Puis, si la variable "isSubcribed est "true", alors on affiche les boutons
                                    "se désister"#}

                                    {# todo: ajouter la condition de l'état de la sortie. Pour se désister, l'état de la sortie ne doit pas être "en cours"#}

                                    {% if isInscribed %}
                                        <a class="btn btn-danger"
                                           href="{{ path('app_sortie_desister', {'id': sortie.id}) }}">Se désister</a>
                                    {% else %}
                                        {# Si la variable isSubscribed n'est pas en valeur "true", alors on affiche le bouton
                                        "s'inscrire"
                                        #}
                                        {# todo: ajouter la condition de si l'état de la sortie est "cloturé" alors on ne peut s'inscrire #}
                                        <a class="btn btn-primary"
                                           href="{{ path('app_sortie_inscrire', {'id': sortie.id}) }}">S'inscrire</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {# Bouton "Créer une sortie" visible uniquement sur les écrans de taille moyenne et plus #}
        <a href="{{ path('sortie_new') }}" class="btn btn-primary d-none d-sm-inline mt-3" aria-hidden="true">Créer une
            sortie</a>
    </div>
{% endblock %}
