{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1 class="h1">Filtrer les sorties</h1>

    <h2 class="h2">Date du jour : </h2>
    <h2 class="h2">Participant : </h2>

    <form class="form-group row" method="get" action="{{ path('sortie_list') }}">
        <div class="col">
            <label for="nom">Le nom de la sortie contient :
                <input type="text" name="nom" value="{{ nom }}" placeholder="Rechercher une sortie par nom">
            </label>
        </div>
        <div class="col">
            <label for="date_debut">
                <input type="date" name="date_debut" value="{{ dateDebut }}" placeholder="Date de début">
            </label>
        </div>
        <div class="col">
            <label for="date_fin">
                <input type="date" name="date_fin" value="{{ dateFin }}" placeholder="Date de fin">
            </label>
        </div>
        <div class="col">
            <label for="end_date">
                <input type="date" name="end_date" value="{{ etatPasse }}" placeholder="Etat passée">
            </label>
        </div>
        <button class="btn btn-info">Rechercher</button>
    </form>

    <div>
        <table class="table-scrollable table table-striped">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Places</th>
                <th>Etat</th>
                <th>Inscrits</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
                    <td>{{ sortie.dateLimiteInscription | date('d/m/Y') }}</td>
                    <td>{{ sortie.inscriptions|length }} / {{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>

                    <td>
                        {% for inscription in sortie.inscriptions %}
                            <span>{{ inscription.participant.pseudo }}</span>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>

                    <td>
                        {% if sortie.organisateur.pseudo %}
                            <a href="{{ path('app_profile', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                        {% else %}
                            <a href="{{ path('app_profile', {'id': sortie.organisateur.id}) }}">
                                {{ sortie.organisateur.prenom|capitalize }} {{ sortie.organisateur.nom|slice(0, 1)|upper }}.
                            </a>
                        {% endif %}
                    </td>

                    <td>
                        {% if sortie.etat.libelle == 'En création' %}
                            <a class="btn btn-warning" href="{{ path('sortie_update', {'id': sortie.id}) }}">Modifier</a>
                        {% else %}
                            <a class="btn btn-info" href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>
                        {% endif %}

                        {% if sortie.etat.libelle == 'Créée' %}
                            {# Vérification si l'utilisateur est inscrit #}
                            {% set isInscribed = false %}
                            {% for inscription in sortie.inscriptions %}
                                {% if inscription.participant.id == app.user.id %}
                                    {% set isInscribed = true %}
                                {% endif %}
                            {% endfor %}

                            {% if isInscribed %}
                                <a class="btn btn-danger" href="{{ path('app_sortie_desister', {'id': sortie.id}) }}">Se désister</a>
                            {% else %}
                                <a class="btn btn-primary" href="{{ path('app_sortie_inscrire', {'id': sortie.id}) }}">S'inscrire</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-info" href="{{ path('sortie_new') }}">Créer une sortie</a>
    </div>
{% endblock %}
