{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}

    <h1>{{ formTitle }}</h1>

    <div class="container mt-4">
        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.dateHeureDebut) }}
        {{ form_row(form.dateLimiteInscription) }}
        {{ form_row(form.nbInscriptionsMax) }}
        {{ form_row(form.duree) }}
        {{ form_row(form.infosSortie) }}
        {{ form_row(form.ville) }}

        {# Liste déroulante pour les lieux existants #}
        <div class="form-row">
            <div class="form-group">
                {{ form_row(form.lieux) }}
            </div>
            {# Bouton pour afficher le formulaire de nouveau lieu #}
            <div class="form-group">
                {{ form_widget(form.addLieu) }}
            </div>
        </div>

        {% if form.lieu is defined %}
            {# Formulaire de nouveau lieu, caché par défaut #}
            <div id="nouveau-lieu-form" style="display: none;">
                {{ form_row(form.lieu) }}
            </div>
        {% endif %}

        <button type="submit" data-turbo="false" name="submit" value="enregistrer" class="btn btn-secondary">
            Enregistrer
        </button>
        <button type="submit" data-turbo="false" name="submit" value="publier" class="btn btn-primary">Publier</button>
        {% if sortie.id is defined %}
            <a href="{{ path('sortie_delete', {'id': sortie.id, 'token': csrf_token('delete'~sortie.id)}) }}" class="btn btn-danger"
               onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette sortie ?')">Supprimer</a>
        {% endif %}
        {{ form_end(form) }}
    </div>
    <script>
        // Fonction pour afficher le formulaire de nouveau lieu
        function showNewLieuForm() {
            // Rendre visible la div contenant le sous-formulaire Lieu
            document.getElementById('nouveau-lieu-form').style.display = 'block';
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#{{ form.ville.vars.id }}').change(function () {
                let villeId = $(this).val();
                let lieuSelect = $('#{{ form.lieux.vars.id }}');

                lieuSelect.html('<option value="">Chargement...</option>');

                if (villeId) {
                    $.ajax({
                        url: '{{ path("get_lieux") }}',
                        type: 'GET',
                        data: {ville_id: villeId},
                        success: function (data) {
                            lieuSelect.html('<option value="">Sélectionnez un lieu</option>');
                            $.each(data, function (index, lieux) {
                                lieuSelect.append('<option value="' + lieux.id + '">' + lieux.nom + '</option>');
                            });
                        }
                    });
                } else {
                    lieuSelect.html('<option value="">Sélectionnez une ville d\'abord</option>');
                }
            });
        });
    </script>
{% endblock %}

