{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1>Nouvelle Sortie</h1>

    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.dateHeureDebut) }}
    {{ form_row(form.dateLimiteInscription) }}
    {{ form_row(form.nbInscriptionsMax) }}
    {{ form_row(form.duree) }}
    {{ form_row(form.infosSortie) }}


    {{ form_row(form.site) }}
    {{ form_row(form.etat) }}
    {{ form_row(form.organisateur) }}
    {# Bouton pour afficher le formulaire de nouveau lieu #}

    {# Liste déroulante pour les lieux existants #}
    {{ form_row(form.lieux) }} {{ form_widget(form.addLieu) }}


    {# Formulaire de nouveau lieu, caché par défaut #}
    <div id="nouveau-lieu-form" style="display: none;">
        {{ form_row(form.lieu) }}
    </div>


    {{ form_widget(form.submit) }}
    {{ form_end(form) }}

    <script>
        // Fonction pour afficher le formulaire de nouveau lieu
        function showNewLieuForm() {
            // Rendre visible la div contenant le sous-formulaire Lieu
            document.getElementById('nouveau-lieu-form').style.display = 'block';
        }
    </script>
{% endblock %}

