{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1 class="h1"> Gérer les villes</h1>

    <h2 class="h2">Filtrer les villes</h2>

    <form action="" class="form-group row">

<div class="col">
        <label for="champ-recherche" >Le nom contient : </label>
</div>
        <div class="col">

        <input class="form-control" type="search" id="champ-recherche" name="q">
        </div>
        <div class="col">
            <button class="btn btn-info">Chercher</button>
        </div>
    </form>


    <div>
        <table class="table-scrollable table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ville in villes %}
                <tr>
                    <td>{{ ville.id }}</td>
                    <td>{{ ville.codePostal }}</td>
                    <td>{{ ville.nom }}</td>
                    <td>
                        <a {#  href="{{ path('edit_item', {'id': item.id}) }}" #} class="btn btn-warning">Modifier</a>
                        <a {# href="{{ path('delete_item', {'id': item.id}) }}" #} class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
        <h2 class="h2">Ajouter une ville</h2>

        <form action="{{ path('admin_ville') }}" method="POST">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>
                    {{ form_label(inputForm.codePostal) }}
                    {#
                    <label for="code-postal">
                    Code Postal
                    </label>
                    #}
                </th>
                <th>
                    {{ form_label(inputForm.nom) }}
                 {#   <label for="ville">
                        Code Postal
                    </label>
                 #}
                </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>/</td>
                    <td>
                        {{ form_widget(inputForm.codePostal) }}
                        {#
                        <input id="code-postal" type="text" name="code-postal" class="form-control" placeholder="Code Postal" required>
                        #}
                    </td>
                    <td>
                        {{ form_widget(inputForm.nom) }}
                        {#
                        <input id="ville" type="text" name="ville" class="form-control" placeholder="Ville" required>
                        #}
                    </td>
                    <td>
                        {{ form_widget(inputForm.submit) }}
                        {#
                        <input {#  href="{{ path('edit_item', {'id': item.id}) }}"  type="submit" value="Ajouter" class="btn btn-info"></input>
                        #}
                    </td>
                </tr>

            </tbody>
        </table>
            {{ form_end(inputForm) }}
        </form>


    </div>



{% endblock %}